﻿.navbar li .glyphicon {
  margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:hover,
.navbar .navbar-nav .active a:focus {
  background-image: none;
  background-color: #4189C7;
  color: white;
}

.col-sm-3{
  width: 11%;
}

@media (max-width: 768px){
  .col-sm-9 {
    margin-top:5rem;
}
}

@media (min-width: 768px) {
  /* On large screens, convert the nav menu to a vertical sidebar */
  .col-sm-9 {
    margin-left: 1rem;
  }
  .navbar {
      height: 100%;
      width: calc(13% - 20px);
  }
  .navbar {
      border-radius: 0;
      border-width: 0;
      height: 100%;
  }
  .navbar-header {
      float: none;
  }
  .navbar .navbar-collapse {
      border-top: 1px solid #444;
      padding: 0;
  }
  .navbar .container-fluid {
      padding: 0;
      margin: 0;
  }
  .navbar .container-fluid .navbar-brand {
      margin: 0;
      text-align: center;
  }
  .navbar ul {
      float: none;
  }
  .navbar li {
      float: none;
      font-size: 15px;
      margin: 6px;
  }
  .navbar li a {
      padding: 10px 16px;
      border-radius: 4px;
  }
  .navbar a {
      /* If a menu item's text is too long, truncate it */
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
}
